# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/
.venv/
.env

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# pytest / coverage
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
htmlcov/
